<div class="container">
    <div class="columns is-mobile is-centered">
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>id</th>
            <th>เวลาวัดค่า</th>
            <th>mg/dl</th>
        </tr>
    </thead>
    <tbody>
        <!-- ng for on tr-->
        <tr>
            <td>1</td>
            <td>Honda</td>
            <td>Accord</td>
            <td>2009</td>
        </tr>
    </tbody>
</table>
    </div>
                </div>

<router-outlet></router-outlet>

